@model Final.Models.FOOTER

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FOOTER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DETAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DETAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.META)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.META)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_BEGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_BEGIN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
