@model Final.Models.BANER

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/MyLayout.cshtml";
}

@section _Header{

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        p {
            font-weight: bold;
        }
    </style>
}


<div style="margin: 0px 5px">
    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel-heading" style="text-align: center; font-weight: bold">
                Detail Banner
            </div>
            <div class="panel-body">


                <div>
                    <h4 style="text-align: center; font-weight: bold">BANER</h4>
                    <hr />
                    <div class="form-horizontal">
                        <div class="row mb-3">
                            <div class="control-label col-md-2 font-weight-bold">
                                Hình ảnh
                            </div>

                            <div class="col-md-6">
                                <img src="~/images/@Model.IMG" width="400px" />
                            </div>
                        </div>

                        <div class="row  mb-3">
                            <div class="control-label col-md-2 font-weight-bold">
                                Tiêu đề
                            </div>

                            <div class="col-md-6">
                                <div class="form-control">@Model.TITLE</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="control-label col-md-2 font-weight-bold">
                                Mô tả
                            </div>

                            <div class="col-md-6">
                                <div class="form-control">@Model.DESCRIPTION</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="control-label col-md-2 font-weight-bold">
                                Meta
                            </div>

                            <div class="col-md-6">
                                <div class="form-control">@Model.META</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="control-label col-md-2 font-weight-bold">
                                Hiển thị
                            </div>

                            <div class="col-md-6">
                                <div class="form-control">@Model.HIDE</div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="control-label col-md-2 font-weight-bold">
                                Vị trí
                            </div>

                            <div class="col-md-6">
                                <div class="form-control">Vị trí</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="control-label col-md-2 font-weight-bold">
                                Ngày đăng
                            </div>

                            <div class="col-md-6">
                                <div class="form-control">@Model.DATE_BEGIN</div>
                            </div>
                        </div>

                    </div>
                </div>
                <p>
                    @Html.ActionLink("Back to List", "Index") |
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                </p>

            </div>
        </div>
    </div>
</div>
@section _Footer{
    <script src="~/Areas/Admin/Content/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
}