@model IEnumerable<Final.Models.MENU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/MyLayout.cshtml";
}
@section _Header{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <style>
        body, table {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 16px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }
    </style>
}
<body>
    <div class="card shadow mb-4" style="margin: 0px 5px">
        <div class="card-header py-3" style="background-color: #4e73df">

            <div>
                <h3 class="m-0 font-weight-bold text-white" style="text-align: center">Quản lý menu</h3>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <a class="btn btn-success my-3" href="~/Admin/MENUs/Create" style="float: right; ">Create</a>

                        <tr>
                            <th>
                                <p>Tên Menu</p>
                            </th>
                            <th>
                                <p>Link</p>
                            </th>
                            <th>
                                <p>Meta</p>
                            </th>
                            <th>
                                <p>Hiển thị</p>
                            </th>
                            <th>
                                <p>Vị trí</p>
                            </th>
                            <th>
                                <p>Ngày đăng</p>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LINK)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.META)
                                </td>
                                <td>
                                    <p>@Html.Raw(item.HIDE == true ? "Hiển thị" : "Không hiển thị")</p>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORDER)
                                </td>
                                <td>
                                    @string.Format("{0:dd-MM-yyyy}", item.DATE_BEGIN)

                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-pencil btn btn-light" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fas fa-trash btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>



    @section _Footer{
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

        <script type="text/javascript">
            var js = jQuery.noConflict(true);
            js(document).ready(function () {
                js("#myTable").DataTable({

                });
            })
        </script>
    }
</body>


