@model Final.Models.BLOG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/MyLayout.cshtml";
}

@section _Header{

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        p {
            font-weight: bold;
        }
    </style>
}
<div style="margin: 0px 5px">
    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel-heading" style="text-align: center">
                Edit Blog
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Edit", "BLOGs", FormMethod.Post, new { enctype = "mutipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.Label("Tiêu đề", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control", id = "name" } })
                            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            <input type="file" name="img" id="img" accept=".jpg, .png, .gif, .jpeg, .bmp" />
                        </div>
                        <div class="col-md-4">
                            <img src="~/images/@Model.IMG" width="400px" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.DESCRIPTION)
                            @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Chi tiết", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.DETAIL)
                            @Html.ValidationMessageFor(model => model.DETAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LINK, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LINK, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LINK, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.META, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.META, new { htmlAttributes = new { @class = "form-control", id= "meta" } })
                            @Html.ValidationMessageFor(model => model.META, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Hiển thị", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @{ bool hide = (Model.HIDE.GetValueOrDefault(false) ? true : false);
                            }

                            @Html.CheckBoxFor(Model => hide)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Vị trí", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ORDER, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ORDER, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Ngày sửa", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DATE_BEGIN, new { htmlAttributes = new { @class = "form-control", id = "myDateTimeInput" } })
                            @Html.ValidationMessageFor(model => model.DATE_BEGIN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a class="btn btn-default my-3" href="~/Admin/BLOGs/Index">Back to List</a>
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                }

               
            </div>
        </div>
    </div>
</div>

@section _Footer{
    <script type="text/javascript">

        var editor = CKEDITOR.replace("DETAIL")
        var editor = CKEDITOR.replace("DETAIL", { height: '600px' })
        customCofig: '/asset/Plugin/ckeditor/config.js'
    </script>
}